.calculator {
    border: 0;
    outline: 0;
    border-radius: 10px;
    width: 250px;
    margin:25px auto;
    border: 5px solid rgb(0, 0, 0);
    padding: 25px;
    text-align: center;
    margin:10px;
    background-color:cornflowerblue;
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-bottom: 10px;
}

.operator-grid {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 5px;
    margin-bottom: 10px;
}

.button {
    display: grid;
    grid-template-columns:  repeat(4, 1fr);
    grid-gap: 5px;
    border:0;
}

button {
    padding: 5px;
    font-size: 25px;
    cursor: pointer;
    color:teal;
}

#display{
    margin-bottom: 15px;
    width: 250px;
    height: 55px;
    background-color:beige;
}